body {
    z-index: 1;
    background: #fff;
    margin: 0;
    font-family: Roboto, Helvetica, Arial;;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
    z-index: 2;
}

main {
    z-index: 2;
}

header {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 5.9375rem;
    color: #fff;
}

header > div {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 24px;
    margin-right: 24px;
}

.links > a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    width: 100%;
}

.canvas {
   width: 100%;
   min-height: 100vh;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-flow: column wrap;
}

.content > h2 {
    color: #fff;
    font-size: 10rem;
    margin: 0px 0 0.9vw;
    letter-spacing: -7px;
}

.content p {
    color: #fff;
    font-size: 2.8rem;
}

.content div > a {
    color: #ff823f;
    text-decoration: none;
    padding: 1.125rem 2.375rem;
    border: 1px solid #ff823f;
    margin-right: 12px;
}

.tagline-links {
    display: flex;
    justify-content: space-around;
}

.section-title {
    font-size: 32px;
    color: white;
    width: 100%;
    text-align: center;
    margin-top: 114px;
}

#section-1 {
    display: flex;
    justify-content: center;
}

.faded-img {
    position: absolute;
    opacity: .5;
    width: 100vw;
    height: 100vh;
}

.section-content {
    margin-top: 30vh;
    width: 60vw;
    z-index: 100;
}

.about-us {
    width: 500px;
}

.about-us > h2 {
    font-size: 50px;
    font-weight: bold;
    color: white;
}

.about-us > p {
    color: rgba(255, 255, 255, .3);
}

#section-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.talent-content {
    display: flex;
    flex-wrap: wrap;
}

.talent {
    width: 250px;
    height: 350px;
    margin: 6px;
    background: url("https://dummyimage.com/250x350/000000/fff&text=SpiffyG+Jody") no-repeat;
}

.footer {
    min-height: 150px !important;
    height: 150px !important;
    background: rgba(0, 0, 0, 0.7);
    width: 100vw;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer > i {
    font-size: 40px;
    margin: 12px;
    color: #ff823f;
}